<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Familia</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="icon" href="/static/favicon.ico">

</head>

<body>
    <header>
        <h1>Bienvenidos a Nuestra Historia 💖</h1>
        <p>Un homenaje a quienes llenan mi vida de amor y recuerdos</p>
    </header>

    <section class="familia">
        <div class="miembro">
            <img src="/static/img/Marcos.jpg" alt="Papá Marcos">
            <p>Marcos, nuestro pilar fuerte y sabio</p>
        </div>
        <div class="miembro">
            <img src="/static/img/Olga.jpg" alt="Mamá Olga">
            <p>Olga, ternura infinita y corazón generoso</p>
        </div>
        <div class="miembro">
            <img src="/static/img/Nishma.jpg" alt="Nishma">
            <p>Nishma, luz creativa y espíritu libre</p>
        </div>
        <div class="miembro">
            <img src="/static/img/Scarlett.PNG" alt="Scarlett">
            <p>Scarlett, soñadora sensible y constructora de memorias</p>
        </div>
        <div class="miembro">
            <img src="/static/img/Lyly.jpg" alt="Lyly">
            <p>Lyly, alegría contagiosa y mirada brillante</p>
        </div>
        <div class="miembro">
            <img src="/static/img/Conny.jpg" alt="Conny">
            <p>Conny, dulzura firme y compañera de aventuras</p>
        </div>
    </section>

    <footer>
        <p>Creado con amor por Scarlett ♥ | Agosto 2025</p>
    </footer>

    <!-- Música opcional -->
    <audio id="bgAudio"  loop preload="auto">
        <source src="/static/music/cancion.mp3" type="audio/mpeg">
        Tu navegador no soporta audio.
    </audio>

<!--El siguiente Script es para que se reproduzca la canciòn solo con un solo clic en cualquier parte de la pantalla-->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const audio = document.getElementById('bgAudio');
    // Función que reproduce el audio y se quita a sí misma
    function playOnce() {
      audio.play().catch(() => {});              // Intenta reproducir
      document.removeEventListener('click', playOnce);
    }
    // Captura el primer clic en cualquier parte de la página
    document.addEventListener('click', playOnce);
  });
</script>


</body>
</html>